<a href="https://colab.research.google.com/github/IvanCampos11/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

df_small = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
df_small['TotalSquareFootage'] = df_small['TotalBsmtSF'] + df_small['1stFlrSF'] + df_small['2ndFlrSF']

In [4]:
df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0          856       856       854     208500                2566
1         1262      1262         0     181500                2524
2          920       920       866     223500                2706
3          756       961       756     140000                2473
4         1145      1145      1053     250000                3343

In [5]:
df_small['PricePerSqFt'] = df_small['SalePrice'] / df_small['TotalSquareFootage']

df_small.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage  PricePerSqFt
0          856       856       854     208500                2566     81.254871
1         1262      1262         0     181500                2524     71.909667
2          920       920       866     223500                2706     82.594235
3          756       961       756     140000                2473     56.611403
4         1145      1145      1053     250000                3343     74.783129

In [6]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-06-02 19:44:16--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.163.140.110, 52.89.160.109, 44.228.179.66
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.163.140.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [             <=>    ]  22.10M  1.95MB/s    in 12s

2020-06-02 19:44:28 (1.92 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23170772]

In [7]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [8]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [9]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [10]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [14]:
df['int_rate'].head(10)

0     14.47%
1     14.47%
2     27.27%
3     12.98%
4     26.31%
5     17.97%
6     11.80%
7     10.72%
8     16.14%
9     12.98%
Name: int_rate, dtype: object

In [0]:
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
cleaned = []

for int_rate in df['int_rate']:
  cleaned.append(int_rate_to_float(int_rate))

df['int_rate_cleaned'] = pd.Series(cleaned)

In [18]:
df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      20000        20000  ...              NaN            14.47
1      16000        16000  ...              NaN            14.47
2       8425         8425  ...              NaN            27.27
3      10000        10000  ...              NaN            12.98
4      30000        30000  ...              NaN            26.31

[5 rows x 141 columns]

In [19]:
int_rates = [' 16.57%', ' 16.52%', ' 16.58%', ' 16.41%', ' 15.47%']

[int_rate_to_float(item) for item in int_rates]

[16.57, 16.52, 16.58, 16.41, 15.47]

In [20]:
df['int_rate'] = df['int_rate'].apply(int_rate_to_float)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      20000        20000  ...              NaN            14.47
1      16000        16000  ...              NaN            14.47
2       8425         8425  ...              NaN            27.27
3      10000        10000  ...              NaN            12.98
4      30000        30000  ...              NaN            26.31

[5 rows x 141 columns]

In [21]:
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
import numpy as np

examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [26]:
def clean_emp_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

for example in examples:
  print(clean_emp_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['new_column'] = [clean_emp_title(title) for title in examples]

In [28]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

df.head()

   loan_amnt  funded_amnt  ...  settlement_term int_rate_cleaned
0      20000        20000  ...              NaN            14.47
1      16000        16000  ...              NaN            14.47
2       8425         8425  ...              NaN            27.27
3      10000        10000  ...              NaN            12.98
4      30000        30000  ...              NaN            26.31

[5 rows x 141 columns]

In [29]:
df['emp_title'].value_counts(dropna=False).head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [30]:
df['emp_title'].isnull().sum()

0

In [31]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [33]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [34]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   loan_amnt  funded_amnt  ...  issue_year issue_month
0      20000        20000  ...        2018          12
1      16000        16000  ...        2018          12
2       8425         8425  ...        2018          12
3      10000        10000  ...        2018          12
4      30000        30000  ...        2018          12

[5 rows x 143 columns]

In [36]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)
df['earliest_cr_line'].head()

0   1979-06-01
1   2001-11-01
2   1997-10-01
3   2007-05-01
4   2007-10-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [37]:
(df['issue_d'] - df['earliest_cr_line']).dt.days / 365

0         39.528767
1         17.093151
2         21.180822
3         11.594521
4         11.175342
            ...
128407    33.189041
128408    36.276712
128409    12.342466
128410    10.005479
128411    12.090411
Length: 128412, dtype: float64

In [38]:
df['length_of_credit_history'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 365

df.head()

   loan_amnt  funded_amnt  ...  issue_month length_of_credit_history
0      20000        20000  ...           12                39.528767
1      16000        16000  ...           12                17.093151
2       8425         8425  ...           12                21.180822
3      10000        10000  ...           12                11.594521
4      30000        30000  ...           12                11.175342

[5 rows x 144 columns]

In [39]:
df['length_of_credit_history'].describe()

count    128412.000000
mean         16.054497
std           7.908317
min           3.084932
25%          11.093151
50%          14.427397
75%          19.846575
max          68.961644
Name: length_of_credit_history, dtype: float64

In [0]:
df['term'] = df['term'].str.strip()
df['term'] = df['term'].str.strip(' months')

In [77]:
df['term'] = df['term'].astype(int)
df['term']

0         36
1         36
2         36
3         60
4         60
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [0]:
df['loan_status_is_great'] = df['loan_status'].str.contains('Current') | df['loan_status'].str.contains("Fully Paid")
df.head()

In [0]:
df['loan_status_is_great'].replace(False, 0, inplace=True)
df['loan_status_is_great'].replace(True, 1, inplace=True)
df['loan_status_is_great'] = df['loan_status_is_great'].astype(int)

In [118]:
df['loan_status_is_great']

0         0
1         1
2         1
3         1
4         0
         ..
128407    0
128408    1
128409    1
128410    1
128411    1
Name: loan_status_is_great, Length: 128412, dtype: int64

In [119]:
df.head()

   loan_amnt  funded_amnt  ...  length_of_credit_history  loan_status_is_great
0      20000        20000  ...                 39.528767                     0
1      16000        16000  ...                 17.093151                     1
2       8425         8425  ...                 21.180822                     1
3      10000        10000  ...                 11.594521                     1
4      30000        30000  ...                 11.175342                     0

[5 rows x 145 columns]

In [123]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d']

0        2020-02-01
1        2020-05-01
2        2019-02-01
3        2020-05-01
4        2019-04-01
            ...
128407   2018-12-01
128408   2020-05-01
128409   2020-05-01
128410   2020-05-01
128411   2020-05-01
Name: last_pymnt_d, Length: 128412, dtype: datetime64[ns]

In [125]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df.head(10)

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      20000        20000  ...                 2.0             2020.0
1      16000        16000  ...                 5.0             2020.0
2       8425         8425  ...                 2.0             2019.0
3      10000        10000  ...                 5.0             2020.0
4      30000        30000  ...                 4.0             2019.0
5      13000        13000  ...                 5.0             2020.0
6       6500         6500  ...                 5.0             2020.0
7       7500         7500  ...                 9.0             2019.0
8      14000        14000  ...                 5.0             2020.0
9      25000        25000  ...                 5.0             2020.0

[10 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01